# Dependencies
node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Logs
server/logs/
mobile/logs/

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# Env
.env
.env.local
.env.*.local

# Misc
coverage/
.cache/
